<% include partials/header %>

<style>
    section{
        color: #666;
        font-weight: 600;
        margin-top: 40px;
        overflow-x: hidden;
    }

    a{
        font-weight: 700;
    }

    a:hover{
        text-decoration: none;
        color: #333;
        font-weight: 700;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        margin-bottom: 32px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23)
    }

    td {
        padding: 16px;
    }

    h2 {
        margin: 32px 0;
        font-weight: 700;
    }
</style>
<section>
    <div class="container">
        <% if(message) { %>
        <div class="alert alert-danger"><%=message%></div>
        <% } %>
        <h2>Cloud Study Jam Attendees</h2>

        <a href="/admin/sendinvite" style="font-weight: 700;" class="btn btn-info mb-4">Send Invites</a>

        <table>
            <tr style="font-weight: 700; border-bottom: 2px solid steelblue;">
                <td>#</td>
                <td>Full Name</td>
                <td>Email</td>
                <td>Attendee ID</td>
                <td>GitHub</td>
                <td>Branch</td>
                <td>Year</td>
                <td>Expertise</td>
                <td>Interest</td>
                <td>Status</td>
                <td>Invite</td>
            </tr>
            <% let i = 0; %>
            <% attendees.forEach((attendee) => { %>
                <tr>
                    <td><%= ++i %></td>
                    <td><%= attendee.name %></td>
                    <td><%= attendee.email %></td>
                    <% if(attendee.attendeeId == '')  { %>
                        <td>#</td>
                    <% } else { %>
                        <td><%= attendee.attendeeId %></td>
                    <% } %>
                    <td><a href="https://github.com/<%= attendee.github %>" target="_blank"><%= attendee.github %></a></td>
                    <td><%= attendee.branch %></td>
                    <td><%= attendee.year %></td>
                    <td><%= attendee.expertise %></td>
                    <td><%= attendee.interest %></td>
                    <% if(attendee.status == 0)  { %>
                    <td><a href="/cloud-study-jam/approvecloudjamattendee/<%=attendee._id%>">Approve</a></td>
                    <% } else { %>
                        <td>Approved</td>
                    <% } %>
                    <td><a href="/admin/sendinvite/<%=attendee._id%>">Invite</a></td>
                </tr>
            <% }); %>
        </table>
    </div>
</section>

<% include partials/footer %>
